// TODO I probably shouldnt do it this way. Maybe make an actual search component
.search__wrapper {
	padding: 20px 0;
	position: relative;
	&::before {
		@include before;
		height: 100%;
		width: 100vw;
		background: $light-gray;
		transform: translate(-50%, 0);
		z-index: 0;
		top: 0;
		left: 50%;
	}
	label,
	input {
		position: relative;
		z-index: 1;
	}
	label {
		position: absolute;
		top: 50%;
		left: 0;
		background: $white;
		transform: translate(0, -50%);
		color: $another-gray;
		z-index: 2;
		padding: 6px 10px;
		line-height: 1;
		width: 100%;
		box-sizing: border-box;
		border-radius: 2px;
	}
	input {
		z-index: 3;
		&:focus {
			background: $white;
		}
	}
}
