// TODO I probably shouldnt do it this way. Maybe make an actual search component
.search__wrapper {
	padding: 20px 0;
	position: relative;
	&::before {
		@include before;
		height: 100%;
		width: 100vw;
		background: $light-gray;
		transform: translate(-50%, 0);
		z-index: 0;
		top: 0;
		left: 50%;
	}
	input {
		position: relative;
		z-index: 1;
		background: $white;
	}
	label {
		display: none
	}
	input {
		z-index: 3;
		&:focus {
			background: $white;
		}
	}
}
