.grid__outer {
	position: relative;
	margin: 20px 0;
}
.item__grid {
	overflow: hidden;
	position: relative;
}

.item__row {
	display: flex;
	background: $white;
	&--stripe {
		background: $light-gray;
	}
	&--header {
		font-weight: bold;
	}
}
.item__detail {
	padding: 4px;
	box-sizing: border-box;
	display: block;
	background: inherit;
	text-align: right;

	// Row number
	&--row {
		text-align: center;
		font-size: 14px;
	}
	&--icon {
		line-height: 1;
		display: flex;
		flex-flow: column;
		justify-content: center;
		.icon--check {
			&:before,
			&:after {
				background: $positive;
			}
		}
		.icon--bang {
			&:before,
			&:after {
				background: $negative;
			}
		}
	}
	&--desc {
		text-align: left;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.total-table & {
		text-align: center;
		font-weight: bold;
	}
}

.LeftColumn .ReactVirtualized__Grid {
	overflow: hidden !important;
	.scrollable & {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	}
}
.LeftColumn {
	position: absolute;
	z-index: 2;
}

.Table {
	overflow: scroll;
}

.ReactVirtualized__Table__row,
.ReactVirtualized__Table__headerRow {
	display: flex;
}
