.item__grid {
	margin: 20px -20px;
}
.item__row {
	display: block;
	position: relative;
	&:nth-child(even) {
		background: $light-gray;
	}
	&--header {
		background: none;
		font-weight: bold;
		border-bottom: 2px solid $dark-gray;
		// display: none;
		// @include tablet {
		// 	display: flex;
		// }
	}
	&.dimmer {
		opacity: 0.5;
	}
	&.active {
		background: white;
		border: 1px solid $dark-gray;
	}
	@include tablet {
		display: flex;
	}
}
.item__detail {
	padding: 4px;
	flex: 0 0 auto;
	box-sizing: border-box;
	text-align: right;
	display: block;
	width: 100%;
	text-align: left;
	// &:first-child {
	// 	text-align: left;
	// }
	@include tablet {
		width: 70px;
		text-align: right;
	}
	&--row {
		width: 40px;
		border-right: 1px solid $light-primary;
		text-align: center;
		font-size: 14px;
	}
	&--desc {
		text-align: left;
		width: auto;
		flex: 1 1 auto;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	&--date {
		width: 90px;
		@include large-phone {
			width: 100px;
		}
	}
	&--icon {
		width: 16px;
		width: 16px;
		display: flex;
		flex-flow: column;
		justify-content: center;
		.icon--check {
			&:before,
			&:after {
				background: $positive;
			}
		}
		.icon--bang {
			&:before,
			&:after {
				background: $negative;
			}
		}
	}
	&--minor {
		display: none;
		@include large-phone {
			display: block;
		}
	}
	&--left {
		text-align: left;
	}
	&--full {
		flex: 1 1 100%;
	}
	.profits-for-item & {
		flex: 0 0 16.6667%;
		text-align: left;
	}
	.col-4 & {
		flex: 0 0 25%;
	}
	.col-5 & {
		flex: 0 0 20%;
	}
	.col-5-with-large & {
		flex: 0 0 calc(25% - 50px);
		&--large {
			flex: 1 0 200px;
		}
	}
}

.inline-input-btns {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1000;
}
